@charset "UTF-8";
/* reset */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

textarea {
  resize: none;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

table {
  border-collapse: collapse;
}

/* header_sub----------------------------- */
#header_sub {
  width: 100%;
  padding-bottom: 10px;
}
#header_sub .inner {
  width: 1180px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  /* 햄버거 메뉴 버튼 ---- */
  /*-------------- 모바일 메뉴-------------- */
}
#header_sub .inner h1 {
  position: absolute;
  width: 100%;
}
#header_sub .inner h1 a {
  width: 100%;
  margin: 10px;
}
#header_sub .inner h1 a .logo1 {
  width: 70px;
  height: 90px;
  display: block;
  margin: 0 auto;
}
#header_sub .inner h1 a .logo2 {
  display: none;
}
#header_sub .inner #gnb {
  width: 100%;
  height: 40px;
  position: absolute;
  display: block;
  margin: 0 auto;
  bottom: 0px;
  text-align: center;
}
#header_sub .inner #gnb li {
  display: inline-block;
  font: 14px/1 "arial";
  margin-bottom: 20px;
}
#header_sub .inner #gnb li a {
  width: 100%;
  display: block;
  padding: 0 40px;
  color: #55585b;
}
#header_sub .inner .util {
  position: absolute;
  top: 60px;
  right: 10px;
}
#header_sub .inner .util li {
  float: left;
  margin-left: 20px;
}
#header_sub .inner .util li a {
  color: #888888;
  font: 11px/1 "arial";
}
#header_sub .inner .btnCall {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #1ecad3;
  position: absolute;
  top: 0;
  left: 0;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #1ecad3;
  position: absolute;
  bottom: 0;
  left: 0;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #1ecad3;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  text-indent: -9999px;
}
#header_sub .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  padding: 20px 30px;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0;
}
#header_sub .inner .menuMo h1 {
  display: block;
  width: 210px;
  padding-bottom: 30px;
}
#header_sub .inner .menuMo h1 a {
  width: 100%;
  font: bold 24px/1 "arial";
  color: #fff;
  text-align: center;
  display: block;
}
#header_sub .inner .menuMo h1 a img {
  width: 65px;
  height: 20px;
}
#header_sub .inner .menuMo ul {
  margin-top: 50px;
}
#header_sub .inner .menuMo ul li a {
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
}

/* sub_page content------------------------------------ */
.content {
  width: 100%;
  padding: 0px 0 150px;
}
.content .sub_visual {
  width: 100%;
  height: 250px;
  background: #bbb;
  margin-bottom: 100px;
}
.content .inner {
  width: 1180px;
  min-height: 500px;
  margin: 0 auto;
}
.content .inner h1 {
  font: normal 50px/1 "arial";
  color: #000;
  margin-bottom: 60px;
}
.content .inner h1 span {
  font: normal 20px/1 "맑은 고딕";
  color: #aaa;
}
.content .inner h1 span::before {
  content: "/";
  margin-right: 20px;
  margin-left: 10px;
}

/* footer --------------------------------------- */
#footer_sub {
  width: 100%;
  padding: 100px 0;
}
#footer_sub .inner {
  width: 1180px;
  margin-left: 20px;
}
#footer_sub .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer_sub .inner ul {
  float: left;
  margin-bottom: 50px;
}
#footer_sub .inner ul li {
  float: left;
  margin-right: 30px;
}
#footer_sub .inner ul li a {
  font: 14px/1 "arial";
  color: #999999;
}
#footer_sub .inner .etc {
  width: 100%;
  font: 12px/1 "arial";
  color: #999999;
  float: left;
}
#footer_sub .inner .etc address {
  font: 11px/1 "arial";
  margin-bottom: 10px;
}
#footer_sub .inner .etc p {
  margin-bottom: 10px;
}

/* tablet ------------------------------------------------------------------------------------- */
@media screen and (max-width: 1179px) {
  /* header ---------------------------------------------------- */
  #header {
    padding: 0;
    margin-left: 20px;
  }
  #header .inner {
    width: 100%;
    height: 50px;
  }
  #header .inner h1 a {
    display: block;
    margin: 0 auto;
  }
  #header .inner h1 a .logo1 {
    display: none;
  }
  #header .inner h1 a .logo2 {
    display: inline-block;
    width: 90px;
    height: 20px;
  }
  #header .inner .menuWeb {
    display: none;
  }
  #header .inner .menuMo.on {
    left: 0;
  }
  #header .inner .btnCall {
    width: 15px;
    height: 15px;
    display: inline-block;
  }
  /* footer --------------------------------------- */
  #footer {
    padding: 80px 30px;
  }
  #footer .inner {
    width: 100%;
  }
}
/* mobile ------------------------------------------------------------------------------------- */
.news .sub_visual .swiper {
  width: 100%;
  height: 100vh;
  margin: 100px auto;
  position: relative;
}
.news .sub_visual .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.news .sub_visual .swiper .box1 {
  width: 300px;
  height: 300px;
  background-color: #333;
  background-size: cover;
}
.news .sub_visual .swiper .box2 {
  background-image: url("https://www.kakaobank.com/static/images/web/renewal/card-3.png");
  background-size: cover;
}
.news .sub_visual .swiper .box3 {
  background-image: url("https://www.kakaobank.com/static/images/web/renewal/card-2.png");
  background-size: cover;
}
.news .sub_visual .swiper .box4 {
  background-image: url("https://www.kakaobank.com/static/images/web/renewal/card-1.png");
  background-size: cover;
}

.inner {
  width: 80%;
}
.inner h1 {
  margin-bottom: 10px;
  text-align: center;
  color: rgb(30, 202, 211);
  font: 48px/1 "anton";
}
.inner span {
  display: block;
  margin-bottom: 50px;
  font-size: 12px;
  text-align: center;
}
.inner table {
  width: 60%;
  border-bottom: 1px solid #3d464b;
  border-top: 1px solid #3d464b;
  margin: 0 auto;
  font-size: 14px;
}
.inner table tr th {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.inner table tr th:nth-of-type(1) {
  width: 80%;
}
.inner table tr th:nth-of-type(2) {
  width: 20%;
}
.inner table tr td {
  padding: 13px;
  border-bottom: 1px solid #ddd;
}
.inner table tr td:nth-of-type(1) {
  text-align: left;
}
.inner table tr td:nth-of-type(2) {
  text-align: right;
  padding-right: 45px;
  font-size: 12px;
}
.inner table tr td a {
  color: #333;
  font-family: "arial";
}
.inner .pagination {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  position: relative;
}
.inner .pagination .prev {
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  float: left;
  position: absolute;
  left: 200px;
}
.inner .pagination .prev i {
  width: 100%;
  height: 100%;
  color: #ddd;
}
.inner .pagination .next {
  width: 30px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  float: right;
  position: absolute;
  right: 200px;
}
.inner .pagination .next i {
  width: 100%;
  height: 100%;
  color: #ddd;
}
.inner .pagination .numbers {
  display: inline-block;
  font-size: 0;
}
.inner .pagination .numbers a {
  display: inline-block;
  width: 30px;
  height: 30px;
  font: 11px/30px "arial";
  color: #666;
  margin: 0 5px;
  transition: 0.5s;
}
.inner .pagination .numbers a:hover {
  background: #666;
  color: #fff;
}
.inner .pagination::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (max-width: 1179px) {
  .community .inner table tr th:nth-of-type(1) {
    width: 14%;
  }
  .community .inner table tr th:nth-of-type(3) {
    width: 17%;
  }
  .community .inner table tr th:nth-of-type(4) {
    width: 0%;
    display: none;
  }
  .community .inner table tr td:nth-of-type(4) {
    width: 0%;
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(6) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(7) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(8) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(9) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(10) {
    display: none;
  }
}
@media screen and (max-width: 539px) {
  .community .inner table tr th:nth-of-type(1) {
    width: 0%;
    display: none;
  }
  .community .inner table tr th:nth-of-type(3) {
    width: 29%;
  }
  .community .inner table tr td:nth-of-type(1) {
    width: 0%;
    display: none;
  }
  .community .inner .pagination .numbers {
    display: none;
  }
}
.join .inner {
  margin-top: 100px;
}
.join .inner table {
  width: 70%;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
}
.join .inner table th {
  width: 20%;
  text-align: left;
  font: bold 14px/1 "arial";
  color: #666;
  padding: 20px 30px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #eee;
}
.join .inner table th:last-child {
  text-align: center;
  border-right: none;
  background: #fff;
  font-size: 0;
}
.join .inner table th input {
  width: 200px;
  height: 40px;
  border: none;
  background: #444;
  font: bold 14px/1 "arial";
  color: #fff;
  margin: 0 10px;
}
.join .inner table td {
  width: 80%;
  border-bottom: 1px solid #bbb;
  padding: 20px 30px;
}
.join .inner table td [type=text],
.join .inner table td [type=password],
.join .inner table td [type=email] {
  width: 200px;
  height: 30px;
  border: 1px solid #bbb;
  background: #eeffff;
  padding-left: 10px;
}
.join .inner table td label {
  margin-right: 10px;
}
.join .inner table td .genderTxt {
  font: 12px/1 "arial";
  color: hotpink;
  margin-bottom: 10px;
  display: none;
}

@media screen and (max-width: 1179px) {
  .join .inner table th {
    width: 0%;
    display: none;
  }
  .join .inner table th:last-child {
    width: 100%;
    display: block;
  }
  .join .inner table td .genderTxt {
    display: block;
  }
}
@media screen and (max-width: 539px) {
  .join .inner table th input {
    width: 40%;
    margin: 0 5%;
  }
  .join .inner table td label {
    display: block;
  }
}
/* header----------------------------- */
#header {
  width: 100%;
  padding-bottom: 10px;
}
#header .inner {
  width: 1180px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  /* 햄버거 메뉴 버튼 ---- */
  /*-------------- 모바일 메뉴-------------- */
}
#header .inner h1 {
  position: absolute;
  width: 100%;
}
#header .inner h1 a {
  width: 100%;
  margin: 10px;
}
#header .inner h1 a .logo1 {
  width: 70px;
  height: 90px;
  display: block;
  margin: 0 auto;
}
#header .inner h1 a .logo2 {
  display: none;
}
#header .inner #gnb {
  width: 100%;
  height: 40px;
  position: absolute;
  display: block;
  margin: 0 auto;
  bottom: 0px;
  text-align: center;
}
#header .inner #gnb li {
  display: inline-block;
  font: 14px/1 "arial";
  margin-bottom: 20px;
}
#header .inner #gnb li a {
  width: 100%;
  display: block;
  padding: 0 40px;
  color: #55585b;
}
#header .inner .util {
  position: absolute;
  top: 60px;
  right: 10px;
}
#header .inner .util li {
  float: left;
  margin-left: 20px;
}
#header .inner .util li a {
  color: #888888;
  font: 11px/1 "arial";
}
#header .inner .btnCall {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  display: none;
}
#header .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #1ecad3;
  position: absolute;
  top: 0;
  left: 0;
}
#header .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #1ecad3;
  position: absolute;
  bottom: 0;
  left: 0;
}
#header .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #1ecad3;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  text-indent: -9999px;
}
#header .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  padding: 20px 30px;
  transition: 0.5s;
}
#header .inner .menuMo.on {
  left: 0;
}
#header .inner .menuMo h1 {
  display: block;
  width: 210px;
  padding-bottom: 30px;
}
#header .inner .menuMo h1 a {
  width: 100%;
  font: bold 24px/1 "arial";
  color: #fff;
  text-align: center;
  display: block;
}
#header .inner .menuMo h1 a img {
  width: 65px;
  height: 20px;
}
#header .inner .menuMo ul {
  margin-top: 50px;
}
#header .inner .menuMo ul li a {
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
}

/* visual--------------------------*/
#visual {
  width: 100%;
  height: calc(100vh - 200px);
  /* 브라우저 전체 높이 100vh - 헤더 높이 (inner가 120px + border-bottom 1px) */
  background: #000;
}
#visual video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* lager--------------------- */
#lager {
  width: 100%;
  padding: 200px 0;
  padding: 70px;
  background-image: url("https://cdn.imweb.me/thumbnail/20220517/375dc88d2890e.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#lager .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto;
}
#lager .inner .wrap {
  width: 100%;
}
#lager .inner .logo {
  width: 380px;
  margin: 0 auto;
}
#lager .inner .logo img {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
}
#lager .inner .letter {
  width: 100%;
  color: white;
  padding: 90px 0 70px 0;
  text-align: center;
}
#lager .inner .letter .left {
  display: inline-block;
  text-align: left;
}
#lager .inner .letter p {
  line-height: 1.5;
}
#lager .inner .letter p span {
  font: 18px;
}
#lager .beer {
  position: absolute;
  left: 200px;
}
#lager .beer img {
  width: 200px;
  height: 250px;
}

/* wit----------------------------- */
#wit {
  width: 100%;
  padding: 200px 0;
  padding: 70px;
  background-image: url("https://cdn.imweb.me/thumbnail/20220517/375dc88d2890e.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#wit .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto;
}
#wit .inner .wrap {
  width: 100%;
}
#wit .inner .logo {
  width: 380px;
  margin: 0 auto;
}
#wit .inner .logo img {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
}
#wit .inner .letter {
  width: 100%;
  color: white;
  padding: 90px 0 70px 0;
  text-align: center;
}
#wit .inner .letter .left {
  display: inline-block;
  text-align: left;
}
#wit .inner .letter p {
  line-height: 1.5;
}
#wit .inner .letter p span {
  font: 18px;
}
#wit .inner .letter .beer {
  position: absolute;
  left: 200px;
}
#wit .inner .letter .beer img {
  width: 200px;
  height: 250px;
}

/* ------------wit--------------------- */
#wit {
  width: 100%;
  padding: 200px 0;
  padding: 70px;
  background-image: url("https://cdn.imweb.me/thumbnail/20220517/86ac866da3a0d.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#wit .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto;
}
#wit .inner .logo {
  width: 100%;
}
#wit .inner .logo img {
  width: 310px;
  height: 90px;
  display: block;
  margin: 0 auto;
}
#wit .inner .letter {
  color: white;
  padding: 90px 0 70px 40px;
  text-align: center;
}
#wit .inner .letter .left {
  display: inline-block;
  text-align: left;
  padding-left: 60px;
}
#wit .inner .letter .left p {
  line-height: 1.5;
}
#wit .inner .letter .left p span {
  font: 18px;
}
#wit .inner .beer {
  position: absolute;
  left: 200px;
}
#wit .inner .beer img {
  width: 200px;
  height: 250px;
}

/* ----------pellong------------ */
#pellong {
  width: 100%;
  padding: 200px 0;
  padding: 70px;
  background-image: url("https://cdn.imweb.me/thumbnail/20220517/90b93bf672e6a.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
#pellong .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto;
}
#pellong .inner .logo {
  width: 100%;
}
#pellong .inner .logo img {
  width: 310px;
  height: 90px;
  display: block;
  margin: 0 auto;
}
#pellong .inner .letter {
  color: white;
  padding: 80px 0;
  text-align: center;
  padding: 90px 0 70px 200px;
}
#pellong .inner .letter .left {
  display: inline-block;
  text-align: left;
}
#pellong .inner .letter p {
  line-height: 1.5;
}
#pellong .inner .letter p span {
  font: 18px;
}
#pellong .inner .beer {
  position: absolute;
  left: 200px;
}
#pellong .inner .beer img {
  width: 200px;
  height: 250px;
}

/* -------------geomeong----------- */
#geomeong {
  width: 100%;
  padding: 200px 0;
  padding: 70px;
  background-image: url("https://cdn.imweb.me/thumbnail/20220517/e03e67c0d71c9.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#geomeong .inner {
  width: 1180px;
  position: relative;
  margin: 0 auto;
}
#geomeong .inner .logo {
  width: 100%;
}
#geomeong .inner .logo img {
  width: 310px;
  height: 90px;
  display: block;
  margin: 0 auto;
}
#geomeong .inner .letter {
  color: white;
  padding: 80px 0;
  text-align: center;
  padding: 100px 0 70px 110px;
}
#geomeong .inner .letter .left {
  display: inline-block;
  text-align: left;
}
#geomeong .inner .letter p {
  line-height: 1.5;
}
#geomeong .inner .letter p span {
  font: 18px;
}
#geomeong .inner .beer {
  position: absolute;
  left: 200px;
}
#geomeong .inner .beer img {
  width: 200px;
  height: 250px;
}

/* footer --------------------------------------- */
#footer {
  width: 100%;
  padding: 100px 0;
}
#footer .inner {
  width: 1180px;
  margin-left: 20px;
}
#footer .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer .inner ul {
  float: left;
  margin-bottom: 50px;
}
#footer .inner ul li {
  float: left;
  margin-right: 30px;
}
#footer .inner ul li a {
  font: 14px/1 "arial";
  color: #999999;
}
#footer .inner .etc {
  width: 100%;
  font: 12px/1 "arial";
  color: #999999;
  float: left;
}
#footer .inner .etc address {
  font: 11px/1 "arial";
  margin-bottom: 10px;
}
#footer .inner .etc p {
  margin-bottom: 10px;
}

/* tablet ------------------------------------------------------------------------------------- */
@media screen and (max-width: 1179px) {
  /* header ---------------------------------------------------- */
  #header {
    padding: 0;
    margin-left: 20px;
  }
  #header .inner {
    width: 100%;
    height: 50px;
  }
  #header .inner h1 a {
    display: block;
    margin: 0 auto;
  }
  #header .inner h1 a .logo1 {
    display: none;
  }
  #header .inner h1 a .logo2 {
    display: inline-block;
    width: 90px;
    height: 20px;
  }
  #header .inner .menuWeb {
    display: none;
  }
  #header .inner .menuMo.on {
    left: 0;
  }
  #header .inner .btnCall {
    width: 15px;
    height: 15px;
    display: inline-block;
  }
  /* lager----------------------------- */
  #lager {
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    padding: 50px;
  }
  #lager .inner {
    width: 100%;
    height: 600px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  #lager .inner .logo {
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0 auto;
  }
  #lager .inner .logo img {
    width: 150px;
    height: 150px;
    display: block;
  }
  #lager .inner .letter {
    position: absolute;
    bottom: 20px;
    padding: 0;
  }
  #lager .inner .letter .left {
    text-align: center;
  }
  #lager .inner .beer {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  #lager .inner .beer img {
    display: block;
    margin: 0 auto;
  }
  /* ------------wit--------------------- */
  #wit {
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    padding: 50px;
  }
  #wit .inner {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  #wit .inner .logo {
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0 auto;
  }
  #wit .inner .logo img {
    width: 350px;
    height: 90px;
    display: block;
  }
  #wit .inner .letter {
    position: absolute;
    bottom: 20px;
    padding: 0;
  }
  #wit .inner .letter .left {
    text-align: center;
  }
  #wit .inner .beer {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  #wit .inner .beer img {
    display: block;
    margin: 0 auto;
  }
  /* ----------pellong------------ */
  #pellong {
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    padding: 50px;
  }
  #pellong .inner {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  #pellong .inner .logo {
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0 auto;
  }
  #pellong .inner .logo img {
    width: 350px;
    height: 90px;
    display: block;
  }
  #pellong .inner .letter {
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding: 0;
    margin: 0 auto;
  }
  #pellong .inner .letter .left {
    text-align: center;
  }
  #pellong .inner .beer {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  #pellong .inner .beer img {
    display: block;
    margin: 0 auto;
  }
  /* -------------geomeong----------- */
  #geomeong {
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    padding: 50px;
  }
  #geomeong .inner {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  #geomeong .inner .logo {
    width: 100%;
    position: absolute;
    top: 0;
    margin: 0 auto;
  }
  #geomeong .inner .logo img {
    width: 350px;
    height: 90px;
    display: block;
  }
  #geomeong .inner .letter {
    width: 100%;
    position: absolute;
    bottom: 20px;
    padding: 0;
    margin: 0 auto;
  }
  #geomeong .inner .letter .left {
    text-align: center;
  }
  #geomeong .inner .beer {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  #geomeong .inner .beer img {
    display: block;
    margin: 0 auto;
  }
  /* footer --------------------------------------- */
  #footer {
    padding: 80px 30px;
  }
  #footer .inner {
    width: 100%;
  }
}
/* mobile ------------------------------------------------------------------------------------- */

/*# sourceMappingURL=style.css.map */
